nav{
	background: #6A84E9;
}

.home-content{
	display: flex;
}

#map {
    height: 600px;
    width: 80%;
    margin: 0 auto;
    /* border:1px solid black; */
}

img{
	width: 100%;
	
}
body{
	margin: 0;
	padding: 0;
}